
<section class="services" id="services" style="background-image:url('{{ content.field_background_image.0 }}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="services-left">
					<h2>{{ content.field_top_text }}</h2>
					<h3>{{ content.field_title }}</h3>
					<p>{{ content.field_description}}</p>
					
				</div>
			</div>
			<div class="col-lg-5 services-right-wrap my-3">
				<div class="services-right my-3">
					<a href="{{ content.field_button_link.0}}" class="secoundary-btn"><i class="fa-solid fa-phone"></i>{{ content.field_button_text }}</a>
				</div>
			</div>
		</div>
	</div>
</section>