<section class="contact-us">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="contact-us-form">
					{{ content.field_contact_form }}
					<div class="row">
						<p>For junk removal service please call your local office below:</p>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="contact-us-content px-3">
					<h6>— {{ content.field_top_text }} —</h6>
					<h2>{{ content.field_heading_title }}</h2>
					<p>{{ content.field_heading_description }}</p>
					<div class="contact-us-content-bottom">
						<div>
							<i class="fa-regular fa-clock"></i>
						</div>
						<div>
							<h6>Our Hours .</h6>
							<p>{{ content.field_our_hours_description }}</p>
						</div>
					</div>
					<div class="contact-us-icon">
						<a href="#"><i class="fa-brands fa-facebook"></i></a>
						<a href="#"><i class="fa-brands fa-twitter"></i></a>
						<a href="#"><i class="fa-brands fa-instagram"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container bg-white p-3">
		<div class="row">
			<div class="col">
				<h5>{{ content.field_map_title }}</h5>
				<p>{{ content.field_map_summary }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="bottom-icon">
					<h6><i class="fa-solid fa-headphones"></i> {{ content.field_map_gmail }}</h6>
					<h6><i class="fa-solid fa-envelope"></i> {{ content.field_telephone}}</h6>
				</div>
			</div>
		</div>
		<div class="row py-3">
			<div class="col">
				{{ content.field_map }}
			</div>
			
		</div>
	</div>
</section>