<section class="thumbnail">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="thumbnail-top">
                    <h2>{{ content.field_title}}</h2>
                    <p>{{ content.field_description }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="thumbnail-left">
                    {{ content.field_choose_us_inner_section }}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail-between">
                    {{ content.field_center_image }}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail-right">
                    {{ content.field_choose_us_inner_right }}
                </div>
            </div>
        </div>
</section>