
<section class="call-us" style="background-image:url('{{ content.field_background_image.0 }}')">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="call-us-content">
					<h2>{{ content.field_title }}</h2>
				</div>
			</div>
			<div class="col-md-5">
				<div>
					<a href="{{ content.field_button_1_link.0 }}" class="secoundary-btn">{{ content.field_button_1_text }}</a>
				</div>
				<div class="call-us-btn">
					<a href="{{ content.field_button_2_link.0 }}" class="primary-btn">{{ content.field_button_2_text }}</a>
				</div>
			</div>
		</div>
	</div>
</section>